body
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container
{
    text-align: center;
    
}

.login-form
{
    background-color: #fff;
    padding: 20px 50px;
    border-radius: 0 0 10px(0, 0, 0, 0.1);
}

h1
{
    margin: 20px;
}

label
{
    display: flex;
}

input
{
    display: block;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button
{
    background-color: #b1b4b1;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    
}
button:hover
{
    background-color: #474747;
    color: #fffefe;
  
}
label
{
    margin-bottom: 5px;
}